<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.abe.com.android_framework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.retrofit.RetrofitActivity" />
        <activity android:name=".activity.recyclelist.RecycleListActivity" />
        <activity android:name=".activity.viewpager.ViewPagerActivity" />
        <activity android:name=".activity.assets.AssetsActivity" />
        <activity android:name=".activity.tablayout.TabLayoutActivity" />
        <activity android:name=".activity.eventbus.EventBusActivity" />
        <activity android:name=".activity.cardview.CardViewActivity" />
        <activity android:name=".activity.gridview.GridViewActivity" />
        <activity android:name=".activity.DrawActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>