<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.abe.com.android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_PROFILE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".main.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.retrofit.RetrofitActivity"/>
        <activity android:name=".activity.recycleview.template.RecycleListActivity"/>
        <activity android:name=".activity.viewpager.ViewPagerActivity"/>
        <activity android:name=".activity.assets.AssetsActivity"/>
        <activity android:name=".activity.tablayout.TabLayoutActivity"/>
        <activity android:name=".activity.eventbus.EventBusActivity"/>
        <activity android:name=".activity.materialdesign.cardview.CardViewActivity"/>
        <activity android:name=".activity.gridview.GridViewActivity"/>
        <activity android:name=".activity.volley.VolleyActivity"/>
        <activity android:name=".activity.volley.VolleyBaseActivity"/>
        <activity android:name=".activity.volley.VolleyImageActivity"/>
        <activity android:name=".activity.volley.VolleyCustomActivity"/>
        <activity android:name=".activity.drawing.DrawActivity"/>
        <activity android:name=".activity.banner.BannerActivity"/>
        <activity android:name=".activity.eventcenter.EventCenterActivity"/>
        <activity android:name=".activity.socket.reader.ReaderSocketActivity"/>
        <activity android:name=".activity.socket.SocketActivity"/>
        <activity android:name=".activity.socket.image.ImageSocketActivity"/>
        <activity android:name=".activity.multithread.MultiThreadActivity"/>
        <activity android:name=".activity.multithread.AsyncTaskActivity"/>
        <activity android:name=".activity.multithread.HandlerThreadActivity"/>
        <activity android:name=".activity.multithread.ThreadPoolActivity"/>
        <activity android:name=".activity.multithread.IntentServiceActivity"/>
        <activity android:name=".activity.drawing.custom.CustomActivity"/>
        <activity android:name=".activity.suspend.SuspendWindowActivity"/>
        <activity android:name=".activity.imageloader.ImageLoaderActivity"/>
        <activity android:name=".activity.imageloader.ImageLoaderGridViewActivity"/>
        <activity android:name=".activity.imageloader.ImageLoaderImageViewActivity"/>
        <activity android:name=".activity.ipc.messenger.MessengerActivity"/>
        <activity android:name=".activity.ipc.IpcActivity"/>
        <activity android:name=".activity.ipc.aidl.AidlActivity"/>
        <activity android:name=".activity.recycleview.RecycleViewActivity"/>
        <activity android:name=".activity.recycleview.example.baseadapter.BaseAdapterActivity"/>
        <activity android:name=".activity.recycleview.example.wrapperadapter.WrapperAdapterActivity"/>
        <activity android:name=".activity.recycleview.example.loadadapter.LoadAndRefreshActivity"/>
        <activity android:name=".activity.greendao.GreenDaoActivity"/>
        <activity android:name=".activity.materialdesign.MaterialDesignActivity"/>
        <activity android:name=".activity.materialdesign.drawerlayout.DrawerLayoutActivity"/>
        <activity android:name=".activity.album.AlbumActivity"/>
        <activity android:name=".activity.album.PhotoActivity"/>
        <activity android:name=".activity.packagemanager.PackageActivity"/>
        <activity android:name=".activity.packagemanager.launcher.LauncherActivity"/>
        <activity android:name=".activity.packagemanager.appfilter.AppFilterActivity"/>
        <activity android:name=".activity.packagemanager.appfilter.AppInfoListActivity"/>
        <activity android:name=".activity.packagemanager.appsize.AppSizeActivity"/>
        <activity android:name=".activity.drawing.text.TextActivity"/>
        <activity android:name=".activity.webview.jsnative.WebViewActivity"/>
        <activity android:name=".activity.drawing.matrix.MatrixActivity"/>
        <activity android:name=".activity.touch.scalegesture.ScaleGestureActivity"/>
        <activity android:name=".activity.touch.TouchActivity"/>
        <activity android:name=".activity.drawing.surfaceview.SurfaceViewActivity"/>
        <activity android:name=".activity.span.SpannableStringActivity"/>
        <activity android:name=".activity.span.SpanActivity"/>
        <activity android:name=".activity.span.SpannableHtmlActivity"/>
        <activity android:name=".activity.viewstub.ViewStubActivity"/>
        <activity android:name=".activity.webview.WebActivity"/>
        <activity android:name=".activity.webview.cookie.CookieActivity"/>
        <activity android:name=".activity.drawing.gaussianblur.GaussianBlurActivity"/>
        <activity android:name=".activity.drawing.shader.ShaderActivity"/>
        <activity android:name=".activity.refresh.RefreshActivity"/>
        <activity android:name=".activity.drawing.clock.ClockActivity"/>
        <activity android:name=".activity.animation.AnimActivity"/>
        <activity android:name=".activity.animation.AnimPropertyActivity"/>
        <activity android:name=".activity.animation.AnimViewActivity"/>
        <activity android:name=".activity.animation.AnimFrameActivity"/>
        <activity android:name=".activity.okhttp.OKHttpActivity"/>
        <activity android:name=".activity.okhttp.OKHttpBaseActivity"/>
        <activity android:name=".activity.okhttp.OkHttpUploadActivity"/>
        <activity android:name=".activity.contentprovider.ContentProviderActivity"/>
        <activity android:name=".activity.contentprovider.contacts.ContactsActivity"/>
        <activity android:name=".activity.contentprovider.custom.OperateActivity"/>
        <activity android:name=".activity.okhttp.SSLOKHttpActivity"/>
        <activity android:name=".activity.maidian.MaiDianActivity"/>
        <activity android:name=".activity.commonview.CommonViewActivity"/>
        <activity android:name=".activity.alldisplay.AllDispalyActivity"/>
        <activity android:name=".activity.alldisplay.AllDisplayListViewActivity"/>
        <activity android:name=".activity.alldisplay.AllDisplayGridViewActivity"/>
        <activity android:name=".activity.wheel.WheelActivity"/>
        <activity android:name=".activity.keyboard.KeyboardActivity"/>
        <activity android:name=".activity.drawing.tink.TinkActivity"/>
        <activity
            android:name=".activity.drawing.whiteboard.WhiteboardActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.gesturelock.GestureLockActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".activity.multithread.MyIntentService"/>
        <service
            android:name=".activity.socket.reader.ReaderSocketService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".activity.socket.image.ImageSocketService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".activity.suspend.MemoryService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_memory_service"/>
        <service
            android:name=".activity.ipc.messenger.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_messenger_service">
        </service>
        <service
            android:name=".activity.ipc.aidl.AIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote_aidl_service">
        </service>

        <provider
            android:name=".activity.contentprovider.custom.CustomContentProvider"
            android:authorities="example.abe.com.android.activity.contentprovider.custom.contentprovider"
            android:exported="true"/>

    </application>

</manifest>